.button{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill:  #488dfa;
    -fx-border-radius: 2 ;
    -fx-border-width: 3;
}